@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 100vh;
    display:inline-block;
    align-items: center;
    justify-content: center;
    background-color:rgb(255,127,80);
    width: 100%;
}
.about{
    background-color:rgb(255,127,80);
    background-size: 80%;
    
    overflow: hidden;
    padding: 100px 0;
}
.inner-section{
    width: 75%;
    float:  right;
    background-color:white;
    padding: 140px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: rgb(8, 8, 8);
    line-height: 30px;
    /*text-align: justify;*/
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}
.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.skills{
    padding-left: 39%;
    padding-top: 10%;
}
.skills button:hover{
    transition: 1s;
    background-color: rgb(255,127,80);
    color : black;
}
.row{
    display: flex;
    flex-wrap: wrap-reverse;
}
.col-2 {
    flex-basis: 24%;
    margin-top: 1vh;
    width: 200px;
    height: 300px;
}
.Description{
    padding-left: 10%;
    padding-right: 0%;
}
.Description h1{ 
    width: 200%;
    height: 30%;
    padding-right: 0%;
    padding-top: 15%;
    padding-bottom: 10%;

}
.Description h2{
    padding-right: 40%;
    width: 100%;
    height: 10%;
    padding-bottom: 3%;
}
.Description p{
    width: 400%;
    height: 20%;
    padding-bottom: 3%;
    padding-right: 0%;
}
.carousel-cell {
    width: 28%;
    height: 300px;
    margin-right: 10px;
    align-items: center;
    border-radius: 5px;
  }
  .carousel-cell img{
     width: 80%;
     float: left;
    padding-top: 20%;
  }
@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
    .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}